<section class="container">
    <div class="columns features delivery-status">
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-content">
                    <div class="content">
                        <h4>Waiting to be delivered </h4>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-content">
                    <div class="content">
                        <h4>In Progress</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card is-shady">
                <div class="card-content">
                    <div class="content">
                        <h4> Done </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>