<!-- Search bar -->
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <div class="control has-icons-left has-icons-right">
              <input class="input is-large inputValue" type="search" placeholder="search" value="" />
              <span class="icon is-medium is-left">
                <i class="fa fa-paw "></i>
              </span>
            </div>
            <span class="icon is-medium is-right">
              <button class="inputSearch">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wee tab with message and shopping cart - memory: local storage - save products or ids - number function elements in array allow user delete -->
<section class="shopping-menu">
  <div class="search-results">
    <div class="box cta">
      <p class="has-text-centered">
        Here are your search results:
      </p>
    </div>

    <div class="shopping-right">
      <button class="button is-medium btnshopping">
        <span class="badge">3</span>
        <span class="icon">
          <i class="fa fa-shopping-cart"></i>
        </span>
        <span>Cart</span>
      </button>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="shopping-cart" style="display:none">
      <div class="shopping-cart-header">
        <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
        <div class="shopping-cart-total">
          <span class="lighter-text">Total:</span>
          <span class="main-color-text">$2,229.97</span>
        </div>
      </div>


      <!-- Shopping cart items! yay -->
      <ul class="shopping-cart-items">
        <li class="clearfix">
          <figure class="image is-64x64">
            <img src="./assets/img/icons/ball.jpeg" alt="item1" />
          </figure>
          <span class="item-name">Ball</span>
          <span class="item-price">$849.9</span>
          <span class="item-quantity">Quantity: 01</span>
        </li>

        <li class="clearfix">
          <figure class="image is-64x64">
            <img src="./assets/img/icons/Collar.jpg" alt="item2" />
          </figure>
          <span class="item-name">Kong</span>
          <span class="item-price">$1,249.99</span>
          <span class="item-quantity">Quantity: 01</span>
        </li>

        <li class="clearfix">
          <figure class="image is-64x64">
            <img src="./assets/img/icons/hueso.jpg" alt="item3" />
          </figure>
          <span class="item-name">Tug</span>
          <span class="item-price">$129.99</span>
          <span class="item-quantity">Quantity: 01</span>
        </li>
      </ul>

      <a href="#" class="button">Checkout</a>
    </div>
    <!--end shopping-cart -->
  </div>
  <!--end container -->

</section>
<section class="container is-fluid">
  <div class="columns is-multiline">
    {{#each data}}
    {{!-- {{this.dataValues.name}} --}}
    {{> products/products-block values=this.dataValues}}
    {{/each}}
  </div>
</section>
</div>


</section>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="./assets/js/customer.js"></script>