<div class="row">
    <section class="container is-fluid">
        <div class="columns is-multiline features delivery-status">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content">
                            <h4>Waiting to be delivered </h4>
                            {{#each data}}
                            {{#if this.dataValues.placed_order}}
                            
                            {{> orders/orders-block values=this.dataValues}}
                            {{/if}}
                            {{/each}}
                        </div>

                    </div>
                </div>
            </div>

            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content">
                            <h4>In Progress</h4>
                            {{#each data}}
                            {{#if this.dataValues.in_transit}}
                            
                            {{> orders/orders-block values=this.dataValues}}
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-content">
                        <div class="content">
                            <h4> Completed </h4>
                            {{#each data}}
                            {{#if this.dataValues.completed}}
                            
                            {{> orders/orders-block values=this.dataValues}}
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="./Assets/js/delivery.js"></script>
</section>