  <section class="container">
        <div class="columns is-multiline">
          <div class="column is-8 is-offset-2 register">
            <div class="columns">
              <div class="column left">
                <h1 class="title is-1">Dog eShop</h1>
                <h2 class="subtitle colored is-4">Everything for your best buddy! 🐶</h2>
                <p>This app allows user to buy products from our online store and keeps track of deliveries.</p>
              </div>
              <div class="column right has-text-centered">
                <h1 class="title is-4">Login</h1>
                <p class="description">Please login to continue</p>
                <form>
                  <div class="field">
                    <div class="control">
                      <input class="input is-medium" id="name" type="text" placeholder="Name">
                    </div>
                  </div>
  
                  <div class="field">
                    <div class="control">
                      <input class="input is-medium" id="password" type="password" placeholder="Password">
                    </div>
                  </div>
                  <button class="button is-block is-danger is-fullwidth is-medium submitButton">Submit</button>
                  <br />
                  <H5 class="hide-error" style="color: red;" ></H5>
                  <br />
                  <p class="has-text-grey">
                      <a href="../">Sign Up</a> &nbsp;·&nbsp;
                      <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                  </p>
                </form>
              </div>
            </div>
          </div>
          <div class="column is-8 is-offset-2">
            <br>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span> &emsp;
                </div>
              </div>
              <div class="level-right">
                <small class="level-item" style="color: var(--textLight)">
                  &copy; Super Cool Website. All Rights Reserved.
                </small>
              </div>
            </nav>
          </div>
        </div>
      </section>
     
      <script src="../public/assets/js/index.js"></script>