<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dog eShop</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
    <link rel="icon" type="image" href="../public/assets/img/paw.png" />
</head>

<body>
  <nav class="navbar">
    <div id="logo">
      <a href="#">
        <img src="../public/assets/img/logo.png" alt="Doggo" class="img"/>
      </a>
    </div>
  </nav>

    <section class="container">
        <div class="columns is-multiline">
          <div class="column is-8 is-offset-2 register">
              
              <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-success" type="text" placeholder="Text input" value="Username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                <p class="help is-success">This username is available</p>
              </div>
              
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-danger" type="email" placeholder="Email input" value="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
              </div>
              
              <div class="field">
                <label class="label">Please select one of the following:</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option value="customer">Customer</option>
                      <option value="delivery">Delivery Person</option>
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link submit">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light cancel">Cancel</button>
                </div>
              </div>
          </div>
          <div class="column is-8 is-offset-2">
            <br>
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span> &emsp;
                </div>
              </div>
              <div class="level-right">
                <small class="level-item" style="color: var(--textLight)">
                  &copy; Super Cool Website. All Rights Reserved.
                </small>
              </div>
            </nav>
          </div>
        </div>
      </section>
</body>

</html>