:root {
  --brandColor: hsl(0, 86%, 33%);
  --background: rgb(247, 247, 247);
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
}

/*navbar style*/
.navbar{
  display: flex;
  justify-content: center;
}

.img {
  height: 200px;
  width: auto;
}

/*search bar style*/
.hero {
  padding: 0;
} 

.hero-body {
  background-color: var(--brandColor)
}

/*general body*/
  body {
    background: var(--background);
    color: var(--textDark);
  }

  .delivery-status{
    margin-top: 10px;
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    margin-top: 5rem;
    background: white;
    border-radius: 10px;
  }

  .left,
  .right {
    padding: 4.5rem;
  }

  .left {
    border-right: 5px solid var(--background);
  }

  .left .title {
    font-weight: 800;
    letter-spacing: -2px;
  }

  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }

  .left p {
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }

  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right small {
    color: var(--textLight);
  }

  input {
    font-size: 1rem;
  }

  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }

  .fab,
  .fas {
    color: var(--textLight);
    margin-right: 1rem;
  }

 
/*trolley*/
.shopping-right {
  display: flex;
  justify-content: flex-end;
  margin-right:5rem;
}
  
.search-results{
  display: flex;
  flex-direction: column;
}

.badge {
  background-color: #1e5cda;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.container {
  margin: auto;
  width: 80%;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}
  
  .shopping-cart-items {
    
    padding-top: 20px;
  }

  .shopping-cart-items li {
    margin-bottom: 18px;
  }

.shopping-cart-items img {
  float: left;
  margin-right: 12px;
}

.shopping-cart-items.item-name {
  display: block;
  padding-top: 10px;
  font-size: 16px;
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
