<li class="clearfix">
    <figure class="image is-64x64">
        <img src="{{Cvalues.picture}}" alt="{{Cvalues.name}}" />
    </figure>
    <span class="item-name">{{Cvalues.name}}</span>
    <span class="item-price">${{Cvalues.price}}</span>
    <span class="item-quantity">Quantity: 01</span>
</li>